


{% extends "Views_test/base.html" %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"> Elements/Armorset </li>
{% endblock %}

{% block content %}
{% if hunters %}
    <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Hunters owners of an elemental resistant armorset</h3>

{#                <div class="card-tools">#}
{#                  <div class="input-group input-group-sm" style="width: 150px;">#}
{#                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">#}
{##}
{#                    <div class="input-group-append">#}
{#                      <button type="submit" class="btn btn-default">#}
{#                        <i class="fas fa-search"></i>#}
{#                      </button>#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
              <!-- /.card-header -->
{#              <div class="card-body table-responsive p-0" style="height: 300px;">#}
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Experience level</th>
                        <th>Money</th>
                        <th>Rank</th>
                        <th>Inventories</th>
                        <th>Armorset ID's</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for hunter in hunters %}
                    <tr>
                        <td>{{hunter.id}}</td>
                        <td>{{hunter.name}}</td>
                        <td>{{hunter.experience_level}}</td>
                        <td>{{hunter.money}}</td>
                        <td>{{hunter.rank}}</td>
                        <td><a href="/Monster_Hunter/inventory/{{ hunter.id }}" > Inventory </a></td>
                        <td>
                        {% for armor in armorsets %}
                            <div>
                            <a href="/Monster_Hunter/inventory/{{ hunter.id }}" > {{ armor.id }} </a>
                            </div>
                        {% endfor %}
                        </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% else %}
    <p>There are no hunters with armorsets that at least one piece resist one of each elements.</p>
{% endif %}

{% endblock content %}
