{% extends "Views_test/base.html" %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'elements' %}">Elements</a></li>
    <li class="breadcrumb-item active"> Elemental Resistant Armorset</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p>At least one of the elements on the input was not correct
                        elements.</p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
{% endblock content %}
