{% extends 'Views_test/base_tables.html' %}
{% block header %}
    <h1 class="card-title"><big>Hunters</big></h1>
{% endblock %}
{% block  breadcrumb %}
    <li class="breadcrumb-item text-light">Hunters</li>
{% endblock %}
{% if hunters %}
    <thead>
    {% block columns %}
        <tr>
            <th scope="col"><strong>ID</strong></th>
            <th scope="col"><strong>Name</strong></th>
            <th scope="col"><strong>Experience level</strong></th>
            <th scope="col"><strong>Rank</strong></th>
            <th scope="col"><strong>Money</strong></th>
            <th scope="col"><strong>Inventory</strong></th>
        </tr>

    {% endblock %}
    </thead>

    <tbody>
    {% block rows %}
        {% for hunter in hunters %}
            <tr>
                <td>{{ hunter.id }}</td>
                <td>{{ hunter.name }}</td>
                <td>{{ hunter.experience_level }}</td>
                <td>{{ hunter.rank }}</td>
                <td>{{ hunter.money }}</td>
                <td><a href="/Monster_Hunter/inventory/{{ hunter.id }}/">Inventory</a></td>
            </tr>
        {% endfor %}

    {% endblock %}


    <tbody>
{% else %}


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p>There are no hunters to show</p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>



{% endif %}
