{% extends "Views_test/base.html" %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"> Hunters </li>
{% endblock %}

{% block content %}
{% if hunters %}
    <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Hunters</h3>
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Experience level</th>
                      <th>Money</th>
                      <th>Rank</th>
                        <th>{{Inventory}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for hunter in hunters %}
                    <tr>
                        <td>{{hunter.id}}</td>
                        <td>{{hunter.name}}</td>
                        <td>{{hunter.experience_level}}</td>
                        <td>{{hunter.money}}</td>
                        <td>{{hunter.rank}}</td>

{#                      <td><span class="tag tag-success">Approved</span></td>#}
                        <td><a href="/Monster_Hunter/inventory/{{ hunter.id }}" > Inventory </a></td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% else %}
    <p>There are no hunters.</p>
{% endif %}

{% endblock content %}
