{% extends 'Views_test/base_tables.html' %}
{% block header %}
    <h1 class="card-title"><big>{{ hunter.name }} inventory </big></h1>
{% endblock %}

{% block  breadcrumb %}
    <li class="breadcrumb-item"><a href={% url 'hunters' %}>Hunters</a></li>
    <li class="breadcrumb-item text-light">Inventory</li>
{% endblock %}
{% if inventory %}
    <thead>
    {% block columns %}
        <tr>
            <th scope="col"><strong>ID</strong></th>
            <th scope="col"><strong>Name</strong></th>
            <th scope="col"><strong>Quantity</strong></th>
            <th></th>
        </tr>

    {% endblock %}
    </thead>

    <tbody>
    {% block rows %}
        {% for object in inventory %}
            <tr>
                <td>{{ object.0.id }}</td>
                <td>{{ object.0.name }}</td>
                <td>{{ object.1.quantity }}</td>
                <td><a href="/Monster_Hunter/objects/details/{{ object.0.id }}"> More info </a></td>
            </tr>
        {% endfor %}

    {% endblock %}


    <tbody>
{% else %}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <p>This hunter does not own any object</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

{% endif %}

