{% extends 'Views_test/base_tables.html' %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"><a href={% url 'palicoes' %}>Palicoes </a>/ Lend Register</li>
{% endblock %}

{% block header %}
    <h6 class="card-title"><big>Lend Register</big></h6>
{% endblock %}

{% block add_widgets %}
    <div class="card-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
            <div class="input-group-append">
                <button type="button" class="btn btn-friend bg-gradient-success">Solidariest
                    Palico
                </button>
            </div>
        </div>
    </div>
{% endblock add_widgets %}

{% if lend_register %}
    <thead>
    {% block columns %}
        <tr>
            <th scope="col"><strong>Palico's ID</strong></th>
            <th scope="col"><strong>Name</strong></th>
            <th scope="col"><strong>Hunter lent</strong></th>
            <th scope="col"><strong>Delivery date</strong></th>
            <th scope="col"><strong>Return date</strong></th>
            <th scope="col"><strong>Owner</strong></th>
            {#            <th scope="col"></th>#}
        </tr>
    {% endblock %}
    </thead>

    <tbody>
    {% block rows %}
        {% for register in lend_register %}
            <tr>
                <td>{{ register.palico.id }}</td>
                <td>{{ register.palico.name }}</td>
                <td>{{ register.hunter_lent.name }}</td>
                <td>{{ register.delivery_date }}</td>
                <td>{{ register.return_date }}</td>
                <td>{{ register.palico.owner.name }}</td>
            </tr>
        {% endfor %}
    {% endblock %}
    <tbody>
{% endif %}

