{% extends "Views_test/base.html" %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'monsters' %}">Monsters</a></li>
    <li class="breadcrumb-item active"> Most Used</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {% if monster %}
                        The most used monster specie to fabricate equipment is
                        <a href="/Monster_Hunter/monsters"> {{ monster.0.name }} </a>
                    {% else %}
                        <p>No monsters has been used to make any equipment.</p>
                    {% endif %}
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

{% endblock content %}
