{% extends "Views_test/base.html" %}

{% block  breadcrumb %}
    <li class="breadcrumb-item active"> Objects</li>
{% endblock %}

{% block  content %}
<div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Objects</h3>
              </div>
<div class="card-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th> </th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for object in objects %}
                    <tr data-widget="expandable-table" aria-expanded="false">
                        <td>{{ object.id }}</td>
                        <td>{{ object.name }}</td>
                        <td><a href="/Monster_Hunter/objects/details/{{ object.id }}" > More info </a></td>
                    </tr>
                    <tr class="expandable-body d-none">
                      <td colspan="5">
                        <p style="display: none;">
                            {{ object.description }}
                        </p>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>

                </table>
              </div>


              <!-- ./card-header -->

                  </tbody>
                </table>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock content %}
