{% extends 'Views_test/base_tables.html' %}
{% block header %}
    <h1 class="card-title"><big>Objects</big></h1>
{% endblock %}
{% block  breadcrumb %}
    <li class="breadcrumb-item text-light">Objects</li>
{% endblock %}
{% if objects %}
    <thead>
    {% block columns %}
        <tr>
            <th scope="col"><strong>ID</strong></th>
            <th scope="col"><strong>Name</strong></th>
            <th></th>
        </tr>

    {% endblock %}
    </thead>

    <tbody>
    {% block rows %}
        {% for object in objects %}
            <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.name }}</td>
                <td><a href="/Monster_Hunter/objects/details/{{ object.id }}"> More info </a></td>
            </tr>
        {% endfor %}

    {% endblock %}


    <tbody>
{% else %}
    <p>There are no objects to show.</p>
{% endif %}

