{% extends 'Views_test/base_tables.html' %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"> Palicoes</li>
{% endblock %}

{% block header %}
    <h5 class="card-title">Palicoes</h5>
{% endblock %}
{% block add_widgets %}
    <div class="card-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
            <div class="input-group-append">
                <button type="button" class="btn btn-register bg-gradient-success">Lend Register</button>
            </div>
        </div>
    </div>
{% endblock add_widgets %}
{% if palicos %}
    <thead>
    {% block columns %}
        <tr>
            <th scope="col"><strong>ID</strong></th>
            <th scope="col"><strong>Name</strong></th>
            <th scope="col"><strong>Experience Level</strong></th>
            <th scope="col"><strong>Combat Style</strong></th>
            <th scope="col"><strong>Rank</strong></th>
            <th scope="col"><strong>Owner</strong></th>
            {#            <th scope="col"></th>#}
        </tr>
    {% endblock %}
    </thead>

    <tbody>
    {% block rows %}
        {% for palico in palicos %}
            <tr>
                <td>{{ palico.id }}</td>
                <td>{{ palico.name }}</td>
                <td>{{ palico.experience_level }}</td>
                <td>{{ palico.combat_style }}</td>
                <td>{{ palico.rank }}</td>
                <td>{{ palico.owner }}</td>
            </tr>
        {% endfor %}
    {% endblock %}
    <tbody>
{% else %}
    <p>There are no palicoes to show.</p>
{% endif %}

