{% extends 'Views_test/base_tables.html' %}
{% block header %}
    <h1 class="card-title"><big>Rarest Objects </big></h1>
{% endblock %}
{% if rarest_items %}
    <thead>
    {% block columns %}
        <tr>
            <th scope="col"><strong>ID</strong></th>
            <th scope="col"><strong>Name</strong></th>
            <th scope="col"><strong>Quantity</strong></th>
            <th></th>
        </tr>

    {% endblock %}
    </thead>

    <tbody>
    {% block rows %}
        {% for object in rarest_items %}
            <tr>
                <td>{{ object.0.id }}</td>
                <td>{{ object.0.name }}</td>
                <td>{{ object.1 }}</td>
                <td><a href="/Monster_Hunter/objects/details/{{ object.0.id }}"> More info </a></td>
            </tr>
        {% endfor %}

    {% endblock %}


    <tbody>
{% else %}

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <p>There are no objects in the inventory of any hunter.</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>


{% endif %}

