


{% extends "Views_test/base.html" %}
{% block  breadcrumb %}
    <li class="breadcrumb-item active"> Hunters </li>
{% endblock %}

{% block content %}
{% if rarest_items %}
    <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Rarest objects</h3>
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for object in rarest_items %}
                    <tr>
                        <td>{{object.0.id}}</td>
                        <td>{{object.0.name}}</td>
                        <td>{{object.1}}</td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% else %}
    <p>There are no objects in the inventory of any hunter.</p>
{% endif %}

{% endblock content %}
